{% extends "system/base.html" %}
{% block content %}
<div id="heading" style='background-color: #e7e7e7'>
			<h1>Тесты</h1>
		</div>
		<aside>
<nav>
	<ul class="aside-menu">
		<li><a href="{% url 'dis_list' %}">ДИСЦИПЛИНЫ</a></li>
		<li><a href="{% url 'theme_list' %}">ТЕМЫ</li>
		<li class = 'active'>ТЕСТЫ</li>
	</ul>
</nav>
		</aside>
		<section>
<blockquote>
    {% for t in test %}
       <p>{{forloop.counter}})<a href = '{% url "test_details" t.theme.discipline.id t.theme.id t.id %}'>{{t.name}}</a></p>
    {% endfor %}
	</blockquote>
</section>
	</div>
{% endblock content %}